@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap");
@media only screen and (min-width: 200px) and (max-width: 600px) {
  * {
    margin: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  * body {
    background-color: #080E2F;
  }
  * body .container #home_section_id .home_section_class {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #080E2F;
  }
  * body .container #home_section_id .home_section_class .home_section_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    width: 100%;
  }
  * body .container #home_section_id .home_section_class .home_section_content .back_head_shot {
    width: 65vw;
    height: 65vw;
    border-radius: 50%;
    background-color: #36395D;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  * body .container #home_section_id .home_section_class .home_section_content .back_head_shot .head_shot {
    width: 59vw;
    height: 59vw;
    border-radius: 50%;
    background-color: #080E2F;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  * body .container #home_section_id .home_section_class .home_section_content .back_head_shot .head_shot #headshot {
    width: 55vw;
    height: 55vw;
    border-radius: 50%;
  }
  * body .container #home_section_id .home_section_class .home_section_content .home_section_words {
    margin: 0vh 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
  }
  * body .container #home_section_id .home_section_class .home_section_content .home_section_words .home_name {
    margin-top: 3vh;
  }
  * body .container #home_section_id .home_section_class .home_section_content .home_section_words .home_name p {
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 4vmax;
  }
  * body .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description {
    display: flex;
    flex-direction: column;
    gap: 10vh;
  }
  * body .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .home_description {
    border: 1px solid #36395D;
    border-radius: 5px;
    background-color: #36395D;
    text-align: center;
  }
  * body .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .home_description p {
    color: #00C6C3;
    font-family: "Inter", sans-serif;
    font-size: 2.5vmax;
    padding: 1vh 1vh;
  }
  * body .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .home_slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  * body .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .home_slogan p {
    color: #00C6C3;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 2.5vmax;
  }
  * body .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .learn_more {
    border: 1px solid #36395D;
    border-radius: 5px;
    background-color: #36395D;
    text-align: center;
    padding: 1vh 1vh;
  }
  * body .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .learn_more a {
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 2.5vmax;
  }
}
@media only screen and (min-width: 1300px) {
  * {
    margin: 0;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
  * body {
    background-color: #080E2F;
  }
  * body .container #home_section_id .home_section_class {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #080E2F;
  }
  * body .container #home_section_id .home_section_class .home_section_content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3vw;
    width: 100%;
  }
  * body .container #home_section_id .home_section_class .home_section_content .back_head_shot {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    background-color: #36395D;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  * body .container #home_section_id .home_section_class .home_section_content .back_head_shot .head_shot {
    width: 27vw;
    height: 27vw;
    border-radius: 50%;
    background-color: #080E2F;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  * body .container #home_section_id .home_section_class .home_section_content .back_head_shot .head_shot #headshot {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
  }
  * body .container #home_section_id .home_section_class .home_section_content .home_section_words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  * body .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description {
    display: flex;
    flex-direction: column;
    gap: 3vh;
  }
  * body .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .home_name {
    margin-top: 3vh;
  }
  * body .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .home_name p {
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 4vmax;
  }
  * body .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .home_description {
    border: 1px solid #36395D;
    border-radius: 5px;
    background-color: #36395D;
    text-align: center;
  }
  * body .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .home_description p {
    color: #00C6C3;
    font-family: "Inter", sans-serif;
    font-size: 2.5vmax;
    padding: 1vh 1vh;
  }
  * body .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .home_slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  * body .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .home_slogan p {
    color: #00C6C3;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 2.5vmax;
  }
  * body .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .learn_more {
    border: 1px solid #36395D;
    border-radius: 5px;
    background-color: #36395D;
    text-align: center;
    padding: 1vh 1vh;
  }
  * body .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .learn_more a {
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 2.5vmax;
  }
}/*# sourceMappingURL=style.css.map */