@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap");
* {
  margin: 0;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
* body {
  background-color: #080E2F;
  font-size: 1.6rem;
}

@media screen and (max-width: 350px) {
  .container {
    height: 100vh;
    background-color: #00C6C3;
    background-color: #080E2F;
  }
  .container #home_section_id .home_section_class {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #080E2F;
  }
  .container #home_section_id .home_section_class .home_section_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
  }
  .container #home_section_id .home_section_class .home_section_content .back_head_shot {
    width: 65vw;
    height: 65vw;
    border-radius: 50%;
    background-color: #36395D;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container #home_section_id .home_section_class .home_section_content .back_head_shot .head_shot {
    width: 59vw;
    height: 59vw;
    border-radius: 50%;
    background-color: #080E2F;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container #home_section_id .home_section_class .home_section_content .back_head_shot .head_shot #headshot {
    width: 55vw;
    height: 55vw;
    border-radius: 50%;
  }
  .container #home_section_id .home_section_class .home_section_content .home_section_words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container #home_section_id .home_section_class .home_section_content .home_section_words .home_name {
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: bold;
  }
  .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin: 1vh 0 0 0;
  }
  .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .home_description {
    border: 1px solid #36395D;
    border-radius: 5px;
    background-color: #36395D;
    text-align: center;
  }
  .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .home_description p {
    color: #00C6C3;
    font-family: "Inter", sans-serif;
    font-size: 1.1rem;
    padding: 1vh 1vh;
  }
  .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .home_slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .home_slogan p {
    color: #00C6C3;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 2.5vmax;
  }
  .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .learn_more {
    border: 1px solid #36395D;
    border-radius: 5px;
    background-color: #36395D;
    text-align: center;
    padding: 1vh 1vh;
  }
  .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .learn_more a {
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 2.5vmax;
  }
}
@media screen and (min-width: 351px) and (max-width: 1000px) {
  .container {
    height: 100vh;
    background-color: #58a6ff;
  }
  .container #home_section_id .home_section_class {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #080E2F;
  }
  .container #home_section_id .home_section_class .home_section_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
  }
  .container #home_section_id .home_section_class .home_section_content .back_head_shot {
    width: 55vw;
    height: 55vw;
    border-radius: 50%;
    background-color: #36395D;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container #home_section_id .home_section_class .home_section_content .back_head_shot .head_shot {
    width: 49vw;
    height: 49vw;
    border-radius: 50%;
    background-color: #080E2F;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container #home_section_id .home_section_class .home_section_content .back_head_shot .head_shot #headshot {
    width: 44vw;
    height: 44vw;
    border-radius: 50%;
  }
  .container #home_section_id .home_section_class .home_section_content .home_section_words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container #home_section_id .home_section_class .home_section_content .home_section_words .home_name {
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
  }
  .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin: 1vh 0 0 0;
  }
  .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .home_description {
    border: 1px solid #36395D;
    border-radius: 5px;
    background-color: #36395D;
    text-align: center;
  }
  .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .home_description p {
    color: #00C6C3;
    font-family: "Inter", sans-serif;
    font-size: 1.3rem;
    padding: 1vh 1vh;
  }
  .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .home_slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .home_slogan p {
    color: #00C6C3;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
  }
  .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .learn_more {
    border: 1px solid #36395D;
    border-radius: 5px;
    background-color: #36395D;
    text-align: center;
    padding: 1vh 1vh;
  }
  .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .learn_more a {
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
  }
}
@media only screen and (orientation: landscape) {
  .container {
    height: 800vh;
    background-color: #00C6C3;
    background-color: #080E2F;
  }
  .container #home_section_id .home_section_class {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #080E2F;
  }
  .container #home_section_id .home_section_class .home_section_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
    margin: 50vh 0 0 0;
  }
  .container #home_section_id .home_section_class .home_section_content .back_head_shot {
    width: 33vw;
    height: 33vw;
    border-radius: 50%;
    background-color: #36395D;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container #home_section_id .home_section_class .home_section_content .back_head_shot .head_shot {
    width: 29vw;
    height: 29vw;
    border-radius: 50%;
    background-color: #080E2F;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container #home_section_id .home_section_class .home_section_content .back_head_shot .head_shot #headshot {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
  }
  .container #home_section_id .home_section_class .home_section_content .home_section_words {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container #home_section_id .home_section_class .home_section_content .home_section_words .home_name {
    font-family: "Inter", sans-serif;
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
  }
  .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    margin: 1vh 0 0 0;
  }
  .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .home_description {
    border: 1px solid #36395D;
    border-radius: 5px;
    background-color: #36395D;
    text-align: center;
  }
  .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .home_description p {
    color: #00C6C3;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    padding: 3vh 3vh;
  }
  .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .home_slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .home_slogan p {
    color: #00C6C3;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
  }
  .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .learn_more {
    border: 1px solid #36395D;
    border-radius: 5px;
    background-color: #36395D;
    text-align: center;
    padding: 1vh 1vh;
  }
  .container #home_section_id .home_section_class .home_section_content .home_section_words .name_and_description .learn_more a {
    text-decoration: none;
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1001px) {
  .container {
    height: 100vh;
    background-color: darkred;
  }
}/*# sourceMappingURL=style.css.map */