@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&family=Julius+Sans+One&family=Roboto:wght@400&display=swap');


// Colors

// Dark Blue
$darkblue: #080E2F;
// Next Green
$nextgreen: #00313E;
// Portfolio backgrounds
$portfolios: #36395D;
// Resume Button Green
$resumebutton: #507E81;
// Skills Teal
$skillsteal: #146166;
// BOX SHADOW
$boxshadowcircles: rgba(0, 0, 0, 0.521);
// Job Descriptions
$jobdescription: #00C6C3;
// First Blue
$firstblue: #58a6ff;

// 200px - 600px
@media only screen and (max-width: 600px) {
    * {
        margin: 0;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        body {
            // display: none;
            background-color: $darkblue;
            font-size: 1.6rem;
            .container {
                background-color: #00C6C3;
                // For Scrolling
                #home_section_id {
                    // For Background
                    .home_section_class {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100vh;   
                        background-color: $darkblue;
                        // The Home Section Content
                        .home_section_content {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 3vh;
                            // Head Shot and Ring around
                            .back_head_shot {
                                width: 65vw;
                                height: 65vw;
                                border-radius: 50%;
                                background-color: $portfolios;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                .head_shot {
                                    width: 59vw;
                                    height: 59vw;
                                    border-radius: 50%;
                                    background-color: $darkblue;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    #headshot {
                                        width: 55vw;
                                        height: 55vw;
                                        border-radius: 50%;
                                    }
                                }
                            }
                            // Home page Name and Description
                            .home_section_words {
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                .home_name {
                                    font-family: 'Inter', sans-serif;
                                    color: white;
                                    font-weight: bold;
                                }
                                .name_and_description {
                                    display: flex;
                                    flex-direction: column;
                                    gap: 5vh;
                                    margin: 1vh 0 0 0;
                                    .home_description {
                                        border: 1px solid $portfolios;
                                        border-radius: 5px;
                                        background-color: $portfolios;
                                        text-align: center;
                                        p {
                                            color: $jobdescription;
                                            font-family: 'Inter', sans-serif;
                                            // font-size: 2.5vmax;
                                            font-size: 1.1rem;
                                            padding: 1vh 1vh;
                                        }
                                    }
                                    .home_slogan {
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: center;
                                        p {
                                            color: $jobdescription;
                                            color: white;
                                            font-family: 'Roboto', sans-serif;
                                            font-size: 2.5vmax;
                                        }
                                    }

                                    .learn_more {
                                        border: 1px solid $portfolios;
                                        border-radius: 5px;
                                        background-color: $portfolios;
                                        text-align: center;
                                        padding: 1vh 1vh;
                                        a {
                                            text-decoration: none;
                                            color: white;
                                            font-family: 'Roboto', sans-serif;
                                            font-size: 2.5vmax;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// 600px - 1200px
@media only screen and (min-width: 601px) and (max-width: 1200px) {
    * {
        margin: 0;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        body {
            display: none;
        }
    }
}

// 600px - 1200px
@media only screen and (min-width: 601px) and (max-width: 1200px) {
    * {
        margin: 0;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        body {
            display: none;
        }
    }
}

// 1200px and beyond
@media only screen and (min-width: 1201px) {
    * {
        margin: 0;
        scroll-behavior: smooth;
        scroll-snap-type: y mandatory;
        body {
            display: none;
        }
    }
}